@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
body {
  color: white;
  font-family: "Oswald", "sans-serif";
  background-color: black;
}

#intro {
  position: absolute;
  top: 37%;
  left: 2%;
}
#intro h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
#intro h2 {
  margin-top: 0;
}

body {
  background-color: #100e17;
  font-family: "Open Sans", sans-serif;
}

.container {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 37%;
  right: 5%;
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  box-shadow: 0 0 3rem white;
}

.card:hover ~ .card {
  position: relative;
  left: 75px;
  transition: 0.5s ease-out;
}

.title {
  color: white;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: 15px;
}

.subtitle {
    color: rgb(2, 141, 131);
    font-weight: 350;
    position: absolute;
    left: 20px;
    top: 45px;
}

.card-body {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 85px;
}

.card-icon {
    top: 225px;
    left: 40%;
    position: relative;
}
